.img-avatar {
  border-radius: 100%;
}

.img-avatar-nav {
  width: 30px;
  border-radius: 100%;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.container-login .card {
  min-height: 150px;

  box-shadow: 2px 2px 15px 2px #111111;
}

.container-login .card img {
  width: 200px;
}
.btn-google {
  box-shadow: 0px 0px 15px 0px #5b5b5b;
}
.fondo {
  background-color: rgb(179, 114, 157);
  height: 100vh;
}